########[CI PIPELINE FLOW]########
# Run pre-commit:                #
#   | failure ~> stop.           #
#   | pass:                      #
#       Run tests:               #
#          | failure ~> stop.    #
#          | pass:               #
#             Upload coverage.   #
##################################
# Requiered Github secrets:      #
#   - CODECOV_TOKEN              #
##################################

name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v2.0.3

  test:
    name: Test
    needs: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
          architecture: x64

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r test-requirements.txt

      - name: Test with pytest
        run: |
          python -m pytest test_relies_on.py -vv --cov=./ --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: ubuntu-latest, python3.8
